.contact-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .contact-info {
    width: 50%;
    color: white;
    padding-top: 50px;

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    .hidden { display: none; }

    .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: .8em;
    }

    .alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: .8em;
    }

    .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
    font-size: .8em;
    }

    .alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: .8em;
    }
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .contact-items {
    grid-template-columns: 1fr;
    #map {
      width: 100%;
      height: 25vh;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .contact-items {
    grid-template-columns: 1fr;
    #map {
      width: 100%;
      height: 25vh;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contact-items {
    grid-template-columns: 1fr;
    #map {
      width: 100%;
      height: 25vh;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .contact-items {
    grid-template-columns: 1fr 1fr;
    #map {
      height: 100vh;
      width: 100%;
      position: sticky;
      top: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contact-items {
    grid-template-columns: 1fr 1fr;
    #map {
      height: 100vh;
      width: 100%;
      position: sticky;
      top: 0;
    }
  }
}
