<div class="container">
  <div class="text-center">
    <h1 class="taxon-title"><%= @taxon.name %></h1>
    <p><%= @taxon.description %></p>
  </div>
  <% unless @taxon.children.any? %>
    <div data-hook="taxon_products">
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
    </div>
  <% end %>

  <% unless params[:keywords].present? %>
    <div data-hook="taxon_children">
      <% cache [I18n.locale, @taxon] do %>
        <%= render partial: 'taxon', collection: @taxon.children %>
      <% end %>
    </div>
  <% end %>
</div>
