<div class="row">
  <div class="col-4" style="background-image: url(<%= asset_path 'unique.jpg' %>); background-size: cover;"></div>
  <div class="col-7">
    <h1><%= t('unique') %> </h1>
    <h3><%= t('unique_lead') %></h3>
    <p><%= t('unique_text') %></p>
  </div>
</div>
