<div class="container">
  <div class="text-center">
    <h1><%= t('mieten') %></h1>
    <h2><%= t('mieten_header') %></h2>
    <p class="pb-2"><%= t('mieten_text') %></p>
    <%= link_to t('contact_us'), main_app.contact_path, class: "button_2"%>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 pt-5">
      <div class="col mb-4">
        <div class="card" style="background-color: #DFAA82;">
          <div class="card-header">
            <h4>1 TAG</h4>
            <p>Miete für einen Tag</p>
          </div>
          <h2 class="card-text py-4">CHF 50.-</h2>
          <div class="card-footer">
            <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="background-color: #DFAA82;">
          <div class="card-header">
            <h4>WOCHENENDE</h4>
            <p>Die beliebte Wochenendmiete</p>
          </div>
          <h2 class="card-text py-4">CHF 90.-</h2>
          <div class="card-footer">
            <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="background-color: #DFAA82;">
          <div class="card-header">
            <h4>1 WOCHE</h4>
            <p>Perfekt für Skiferien</p>
          </div>
          <h2 class="card-text py-4">CHF 200.-</h2>
          <div class="card-footer">
            <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card" style="background-color: #DFAA82;">
          <div class="card-header">
            <h4>SAISON</h4>
            <p>Komplette Wintersaison</p>
          </div>
          <h2 class="card-text py-4">50%</h2>
          <div class="card-footer">
            <small class="text-muted">Bei allfälligem Kauf, erhalten Sie 50% auf den Listenpreis.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
