<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <h1 class="py-4"><%= t('mieten') %></h1>
      <h3><%= t('mieten_header') %></h3>
      <p class="pb-3"><%= t('mieten_text') %></p>
      <%= link_to t('contact_us'), main_app.contact_path, class: "button_2"%>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 pt-5">
    <div class="col mb-4">
      <div class="card" style="background-color: #DFAA82;">
        <div class="card-header">
          <h4>1 TAG</h4>
          <p>Miete für einen Tag</p>
        </div>
        <h2 class="card-text py-4">CHF 50.-</h2>
        <div class="card-footer">
          <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="background-color: #DFAA82;">
        <div class="card-header">
          <h4>WOCHENENDE</h4>
          <p>Die beliebte Wochenendmiete</p>
        </div>
        <h2 class="card-text py-4">CHF 90.-</h2>
        <div class="card-footer">
          <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="background-color: #DFAA82;">
        <div class="card-header">
          <h4>1 WOCHE</h4>
          <p>Perfekt für Skiferien</p>
        </div>
        <h2 class="card-text py-4">CHF 200.-</h2>
        <div class="card-footer">
          <small class="text-muted">Bei allfälligem Kauf, wird der Mietbetrag angerechnet.</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="background-color: #DFAA82;">
        <div class="card-header">
          <h4>SAISON</h4>
          <p>Komplette Wintersaison</p>
        </div>
        <div class="card-text py-4">
          <h2 >50%</h2>
          <small>des Kaufpreises</small>
        </div>
        <div class="card-footer">
          <small class="text-muted">Bei allfälligem Kauf, erhalten Sie 50% auf den Listenpreis.</small>
        </div>
      </div>
    </div>
  </div>
</div>
