<div class="container text-center">
  <video style="width: 75vw; height: auto;" autoplay muted>
    <source src="https://res.cloudinary.com/swissmassiv/video/upload/v1726688813/Swiss_Massiv_Crowdfunding_-_deutsch_mit_untert._mit_audio_zn57eu.mp4" type="video/mp4">
  </video>
  <h1 class="mt-4">Revolutionäre Skitechnologie</h1>
  <p> Mit unserer revolutionären Hybrid-Kerntechnologie aus Bambus und Holz haben wir vollständig recycelbare Ski entwickelt, die die Umweltbelastung minimieren und gleichzeitig die Laufruhe maximieren.</p>
</div>
