<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-md-10 col-lg-6">
      <h1 class="py-4"><%= t('service') %></h1>
      <h3><%= t('service_header') %></h3>
      <p class="pb-3"><%= t('service_text') %></p>
      <%= link_to t('contact_us'), main_app.contact_path, class: "button_2"%>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 pt-5">
    <div class="col mb-4">
      <div class="card text-white" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604718/Assets/quality_mlu5nb.jpg); background-size: cover; background-position: center;">
        <div class="text-center">
          <div class="card-header">
            <h4>WACHSEN</h4>
            <p>Für die Schnellen</p>
          </div>
          <h2 class="card-text py-4">CHF 20.-</h2>
        </div>
        <div class="card-footer">
          <small>
            <ul>
              <li>Warm Wachsen</li>
              <li>Polieren</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599598972/Assets/bamboo_we2vfe.jpg); background-size: cover; background-position: center;">
        <div class="text-center">
          <div class="card-header">
            <h4>SERVICE klein</h4>
            <p>Das Nötigste</p>
          </div>
          <h2 class="card-text py-4">CHF 45.-</h2>
        </div>
        <div class="card-footer">
          <small>
            <ul>
              <li>Belag feinschleifen</li>
              <li>Kanten schleifen</li>
              <li>Kantentuning</li>
              <li>Wachsen & Polieren</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599604756/Assets/many_layered_c4aqo4.jpg); background-size: cover; background-position: center;">
        <div class="text-center">
          <div class="card-header">
            <h4>SERVICE gross</h4>
            <p>Vor oder Nach der Saison</p>
          </div>
          <h2 class="card-text py-4">CHF 65.-</h2>
        </div>
        <div class="card-footer">
          <small>
            <ul>
              <li>Belag auffilmen</li>
              <li>Belag feinschleifen</li>
              <li>Kanten schleifen</li>
              <li>Kantentuning</li>
              <li>Wachsen & Polieren</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card text-white" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/swissmassiv/image/upload/f_auto,q_auto/v1599602442/Assets/limited_jyjnts.jpg); background-size: cover; background-position: 70% 50%;">
        <div class="text-center">
          <div class="card-header">
            <h4>swiss massiv Skiservice</h4>
            <p>Speziell für swiss massiv Skis</p>
          </div>
          <h2 class="card-text py-4">CHF 200.-</h2>
        </div>
        <div class="card-footer">
          <small>
            <ul>
              <li>SERVICE gross</li>
              <li>Schleifen</li>
              <li>Ausbessern</li>
              <li>Neulackierung</li>
            </ul>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
