.menu-item {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  padding: 100px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .menu {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .menu {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .menu {
    grid-template-columns: 1fr 1fr;
  }
}
