.button_1 {
  background-color: black;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(62,32,65,0.25);
  text-decoration: none;
}
.button_1:hover {
  text-decoration: none;
  color: white;
  background-color: #434343;
}

.button_2 {
  background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8, #d3d3d3, #c5c5c5, #c0c0c0, #bfbfbf, #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5, #c8c8c8, #d7d7d7, #d5d5d5, #cdcdcd, #c4c4c4, #d9d9d9, #cecece, #c5c5c5, #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9, #d7d7d7) content-box,
    linear-gradient(#d4d4d4, #d4d4d4) padding-box,
    radial-gradient(rgba(120, 120, 120, 0.9), rgba(120, 120, 120, 0) 70%) 50% bottom/80% 0.46875em no-repeat border-box;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.3),
    inset 0 2px 1px 1px rgba(0, 0, 0, 0.1),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-shadow: none;
}
.button_2:hover {
  text-decoration: none;
  color: black;
}

:hover::after {
  content: '';
  display: block;
  width: 75px;
  height: 175%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: 0;
  animation: button_2 200ms linear;
  transform: translateX(250px) rotate(-25deg);
}

