
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  color: rgba(0,0,0,0.3);
 a {
    font-size: 30px;
    color: white;
  }
  a:hover {
  text-decoration: none;
  }
}

