.site-header {
  background-color: #151515;
 a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
  .header-icon {
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .layer_1{
    .header-text {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
    .dropdown-item:hover{
      color: gray;
    }
  }
  .layer_2{
    margin-bottom: 0;
    .form-group{
      margin-bottom: 0;
      background-color: transparent;
      color: white;
      border-bottom: 0.1rem solid white;
      position: relative;
    }
    .search_icon{
      position: absolute;
      top: 0px;
      right: 2px;
    }
    .header-text {
      margin-bottom: 0;
      font-size: 0.8rem;
    }
  }
}

