.site-header {
  background-color: #0b0b0b;
  width: 100%;
 a {
    color: white;
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none;
  }
  .header-icon {
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .layer_1{
    .dropdown-item:hover{
      color: gray;
    }
  }
  .layer_2{
    margin-bottom: 0;
    .form-group{
      margin-bottom: 0;
      background-color: transparent;
      color: white;
      border-bottom: 0.1rem solid white;
      position: relative;
    }
    .search_icon{
      position: absolute;
      top: 0px;
      right: 2px;
    }
  }
}

@media (max-width: 799px) {
  .header-text-small {
      margin-bottom: 0;
      font-size: 0.5rem;
    }

  .header-text-big {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}
@media (min-width: 800px) {
  .header-text-small {
      margin-bottom: 0;
      font-size: 0.7rem;
    }

  .header-text-big {
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}
