.product-card {
  background-color: #2c2c2c;
  overflow: hidden;
  border-radius: 15px;
  .product-image {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .product-info {
    padding: 15px;
    .product-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px;
    }
  }
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}


