.product-card {
  background-color: #2a2a2a;
  overflow: hidden;
  border-radius: 5px;
  .product-image {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .product-info {
    padding: 15px;
    .product-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px;
    }
  }
}

