.product-card {
  background-color: hsl(0, 0%, 16%);
  border-radius: 5px;
  margin-bottom: 1.25rem;
  .product-image {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .product-info {
    padding: 15px;
    .product-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px;
    }
  }
}
.product-text {
  color: white;
}

.sale {
  color: #FFFFFF;
  background-color: #DF1D01;
  font-size: 18px;
  padding: 18px 10px;
  border-radius: 34px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-25deg);
}
.price {font-weight: bold;}
.old-price {
  font-size: 12px;
}
